body{
    margin:0;
    padding: 0;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

.header {
    border-style: solid;
    background-color: transparent;
    text-align: center;
    padding: 10px;
}

@keyframes twinkle {
    0% { opacity: 0.2; }
    100% { opacity: 1; }
}

.main-content {
    background-color: transparent;
    height: 80%;
    width: 70%;
    margin: auto;
    padding: 20px;
}

.stars {
    width: 100%;
    height: 95vh;
    position: absolute;
    background: url(https://www.transparenttextures.com/patterns/stardust.png);
    animation: twinkle 3s infinite alternate;
}

.footer {
    background-color: transparent;
    text-align: center;
    padding: 10px;
}
p {
    margin: 8px;
}
caption{
    visibility: collapse;
    border:4px solid black;
  }
  
  table {
    border: 1px solid red;
  }
  
  td {
    border: 1px solid gray;
  }
  img.blur {
    filter: blur(3px);
}
img.filtered-image {
    animation: sepiaFilter 2s forwards;
}

@keyframes sepiaFilter {
    from {
        filter: sepia(0%);
    }
    
    to {
        filter: sepia(100%);
    }
}

button {
    background-color: #3399ff;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 5px;
    margin: 10px;
    font-size: 15px;
    outline: none;
}
.click-here:hover{
    background-color:#002ead;
      transition: 0.7s;
}
.click-here:active {
    background-color:#002ead;
    transition: 0.7s
}